{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1 style="text-indent: 30px">Привет, я автор</h1>
<p>
    <p>
        Всем привет! Меня зовут Сергей и я явлюясь автором этого, простенького сайта!
        <p>
            <a href="https://github.com/Rendlolx">Мой GitHub</a>
        </p>
        <p>
            <a href="https://pskov.hh.ru/resume/3b4061aaff0982aa220039ed1f6c5138555835">HH.ru</a>
        </p>
            <a href="https://t.me/rendlolx">Telegram</a> 
    </p>
    <p>
        <p style="text-indent: 30px">
            В мир IT я попал не так давно и очень случайно. Один мой знакомый, который работает разработчиком, 
        посоветовал мне попробовать свои силы в это нелегком, как оказалось деле. Я начал самостоятельно
        изучать Python и SQL, изначально нацелившись на Бэкенд-разработку, так как она показалась мне
        невероятно интересной в плане обширности.<br>
            Пройдя одни бесплатные курсы я понял, что этого недостаточно для поиска работы и увидел, случайно,
        рекламу Я.Практикума. Обдумав все "За" и "Против" принял решение поступить на курс чтобы стать
        полноценным разработчиком. И вот, по прошествии 2 месяцев я пишу это здесь, так как у меня получилось
        сделать этот небольшой и, довольно простой, сайтик. Моя первая работа.
        </p>
    </p>
</p>
{% endblock %} 