{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Посты любимых авторов.{% endblock title %}
{% block content %}
  <div class="container py-5">     
  <h1>Посты любимых авторов.</h1>
  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
        {% thumbnail post.image "800x600" crop="center" upscale=True as im %}
          <img width="400" height="350" src="{{ im.url }}">
        {% endthumbnail %}
      </ul>      
      <p>{{ post.text }}</p>
      {% if post.group %}
        <a href="{% url 'posts:group' post.group.slug %}">все записи группы</a>
      {% endif %}    
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}