{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Сброс пароля 
      </div>
      <div class="card-body">
        <p>
         На Вашу почту было выслано письмо с подтверждением Email'а. 
         Пройдите по ссылке, для успешной смены пароля. 
         Если вы не изменяли пароль, то не нажимайте на ссылку и напишите в поддержку сайта
        </p>
      </div> <!-- card body -->
    </div> <!-- card -->
  </div> <!-- col -->
</div> <!-- row -->
{% endblock %} 